<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2em; flex-wrap: wrap;">
    <a class="internal-link" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
    <nav style="display: flex; gap: 1.5em; font-size: 0.9em; flex-wrap: wrap;">
        <a class="internal-link" href="{{ site.baseurl }}/welcome-to-my-garden">Enter</a>
        <a class="internal-link" href="{{ site.baseurl }}/map">Map</a>
        <a class="internal-link" href="{{ site.baseurl }}/current-investigations">Active</a>
        <a class="internal-link" href="{{ site.baseurl }}/random">?</a>
        <a class="internal-link" href="{{ site.baseurl }}/about">Curator</a>
    </nav>
</div>
